infrastructure/workflows/workflows/ghosts_intent_xt6XvQRty8rusrwz.json
{
  "createdAt": "2025-07-30T18:33:38.312Z",
  "updatedAt": "2025-07-30T20:20:57.000Z",
  "id": "xt6XvQRty8rusrwz",
  "name": "ghosts_intent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghosts-intent",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "1236d975-9f2f-4237-b675-9585f02e1c3b",
      "name": "Webhook",
      "webhookId": "2cb4b190-bf9f-4704-abed-6ec67e6422f8"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $json.body.model }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.body.messages[0].content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "373831d4-bf2b-497b-a676-dca829a36dd5",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LoA0RcfBLdSEgCEh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "d5d5a8be-2c33-4cb9-917e-1c97f9b4a44a",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d5922054-57c9-45d5-a0c2-53b0024adbe1",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-07-30T18:33:38.316Z",
      "updatedAt": "2025-07-30T18:33:38.316Z",
      "role": "workflow:owner",
      "workflowId": "xt6XvQRty8rusrwz",
      "projectId": "MeMbnwpvkMuk9YBS",
      "project": {
        "createdAt": "2025-07-30T13:12:26.538Z",
        "updatedAt": "2025-07-30T13:15:42.235Z",
        "id": "MeMbnwpvkMuk9YBS",
        "name": "step admin <step-admin@cert.org>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-30T13:12:26.538Z",
            "updatedAt": "2025-07-30T13:12:26.538Z",
            "role": "project:personalOwner",
            "userId": "053d247d-19b5-408f-9784-0f4efeddd780",
            "projectId": "MeMbnwpvkMuk9YBS",
            "user": {
              "createdAt": "2025-07-30T13:12:26.130Z",
              "updatedAt": "2025-08-04T18:10:35.000Z",
              "id": "053d247d-19b5-408f-9784-0f4efeddd780",
              "email": "step-admin@cert.org",
              "firstName": "step",
              "lastName": "admin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-30T13:15:51.407Z",
                "personalization_survey_n8n_version": "1.90.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "6FO8t9zwqve7fhPj",
                "userActivatedAt": 1753890055306
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-08-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}